$gray: #E7E7E7;


body {
  text-align: center;
  margin: 5%;
  background: #206BA4;
}

.wrapper {
  width: 100%;
  display: block;
}

.wrapper-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rules, .commands {
  border: 1px solid #006;
  width: 20%;
  background: #BBD9EE;
  font-size: 0.9em;
  padding: 1%;
}

.rules :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  text-align: left;
}

.rules ol {
  font-weight: bold;
}

button {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 0.9rem;
  margin: 2px;
  padding: 7px 10px;
  border-radius: 4px;
  transition-duration: 0.3s;
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,0);
}

button.gray {
  color: black;
  background-color: $gray;
}

button.gray.inverted {
  background-color: inherit;
  border: 2px solid $gray;
  color: black;

  &:hover:not(:disabled) {
    background-color: $gray;
  }

  &:disabled {
    color: gray;
  }
}

.grid {
  display: table;
  border-collapse: collapse;
  margin: 0 10px;
}

.grid-row {
  display: table-row;
}

.grid-item {
  display: table-cell;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 13px;
  height: 13px;
  background: #BBD9EE;
}

.grid-item.active {
  background: #206BA4;
}

.grid-item.big {
  width: 20px;
  height: 20px;
}